body {
    background-color: #282c34;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

.header{
    color: #e8eded;
    text-align: center;
    font-family:"Martian Mono", monospace;
    font-size: 19;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.header i{
    color: #e74c3c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40;
    background-color: wheat;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    transition: 0.7s;
}
.header i:hover{
    color: lightblue;
    background-color: #000000;
}

.header img{
  width: 90px;
  height: 90px;
  border-radius: 10%;
  margin-left: 1.4%;
  box-shadow: 0px 2px 7px 0.5px white;
  transition: transform 0.5s ease-out;
}

.header img:hover{
  transform: scale(1.22);
}

td{
    font-family: "Martian Mono", monospace;
}

  /* h1 {
    text-align: center;
    color: #00a69b;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 1rem;
  } */

  /* h1 i {
    color: #3498db;
  } */

  hr {
    border: 2;
    height: 1px;
    background: #fff;
    margin-bottom: 2rem;
  }

  .section {
    text-align: center;
    margin: 2rem 0;
  }

  .section img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    transition: transform 0.35s ease-out;
  }

  .section img:hover{
    transform: scale(1.15);
  }

  .section table {
    width: 80%;
    margin: 1rem auto;
    border-collapse: collapse;
    font-size: 1rem;
  }

  .section table, .section th, .section td {
    border: 2px solid white;
  }

  .section th, .section td {
    padding: 10px;
    background-color: cadetblue;
  }

  .section th {
    background-color: #3498db;
    color: #fff;
  }

  .section td {
    color: #000000;
    background-color: beige;
    ;
  }

  .warning {
    background-color: #e74c3c;
    font-family: monospace;
    line-height: 1.5;
    padding: 0.4rem;
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem auto;
    margin-bottom: 1.8rem;
    max-width: 40%;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.5s ease-out;
  }
  .warning:hover{
    transform: scale(1.2);
  }

  .payment {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center; /* Menjaga agar semuanya berada di tengah */
    margin: 1rem auto;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #3498db;
    padding: 0.8%;
}

.payment-logos {
    display: flex;
    gap: 20px; /* Menambahkan jarak antara logo */
    margin-left: 40px; /* Jarak antara teks "Payment:" dan logo */
}

.payment img {
    border-radius: 10%;
    width: 60px; /* Ukuran logo */
    height: 60px;
    object-fit: contain;
    transition: transform 0.4s ease-out;
}

.payment img:hover {
  transform: scale(1.26);
}

  .footer {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }

  .footer a{
    color: #3498db;
    text-decoration: none;
  }

  .footer p {
    margin: 0.5rem 0;
    font-family: 'Courier New', Courier, monospace;
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    .section table {
      width: 100%;
    }
  }